{
  "parser": "babel-eslint",
  "extends": [
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "clearTimeout": true,
    "setTimeout": true,
    "describe": true,
    "it": true,
    "expect": true,
    "beforeAll": true,
    "test": true,
    "jest": true,
    "context": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "cy": true,
    "Cypress": true,
    "window": true
  }
}
